<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>배송은 여기야 | 점포 정보 등록</title>
    <script>
        function registration() {
            let name = $("#name").val();
            let minOrderPrice = $("#minOrderPrice").val();
            let deliveryFee = $("#deliveryFee").val();

            $.ajax({
                type:"POST",
                url:"/restaurant/register",
                data:{
                    "name":name,
                    "minOrderPrice":minOrderPrice,
                    "deliveryFee":deliveryFee
                },
                success: function (response) {
                    alert(response);
                },
                error: function (response) {
                    let result = response.responseJSON.errorMessage;
                    alert(result);
                    // window.location.reload();
                }
            })
        }
    </script>
</head>
<body>
<div id="login-form">
    <div id="login-title">배송은 여기야 <br><br> 점포 정보 등록</div>
    <br><br>

    <div class="login-id-label">점포명</div>
    <input type="text" id="name" placeholder="점포명" class="login-input-box">
    <div id="id-failed" style="display:none" class="alert alert-danger" role="alert">중복되는 아이디가 있습니다.</div>

    <div class="login-id-label">최소주문 가격</div>
    <input type="text" id="minOrderPrice" placeholder="1,000원 ~ 100,000원 사이 | 100원 단위 입력" class="login-input-box">
    <div id="pwd-check" style="display:none" class="alert alert-danger" role="alert">비밀번호를 최소 4글자 이상으로 작성해주세요.</div>

    <div class="login-id-label">기본 배달비</div>
    <input type="text" id="deliveryFee" placeholder="0원 ~ 10,000원 사이 | 500원 단위 입력" class="login-input-box">
    <div id="pwd-failed" style="display:none" class="alert alert-danger" role="alert">비밀번호가 일치하지 않습니다.</div>
    <button id="login-id-submit" onclick="registration()">점포 등록</button>
    <button>취소</button>
</div>
</body>
</html>